{% extends "GLZeistProgrammaBundle::admin.html.twig" %} 
{%block content%}
<h1>Nieuw Persoon</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('admin_persoon') }}">
            Terug naar het overzicht
        </a>
    </li>
</ul>
<form action="{{ path('admin_create_persoon', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form_actions">
        <button type="submit">Opslaan</button>
    </div>
</form>
<script>
    require(["ckeditor/ckeditor"], function() {
        CKEDITOR.replace('glzeist_bundle_programmabundle_persoontype_personalia');
    });
</script>

{%endblock%}