{% extends "GLZeistProgrammaBundle::admin.html.twig" %} 
{%block content%}
<h1>Nieuw Hoofdstuk</h1>

<ul class="record_actions">
    <li>
        <a href="{{ path('hoofdstuk') }}">
            Terug naar het overzicht
        </a>
    </li>
</ul>

<form action="{{ path('hoofdstuk_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form_actions">
        <button type="submit">Toevoegen</button>
    </div>
</form>

{%endblock%}