
footer { background-color:#DCEEC6;padding-bottom:40px;}
h1.footer-link-list-title {color:#333;margin-left:10px;}
ul.footer-link-list {list-style: none outside none;margin-left:10px;}
li.footer-link-list-item {}