
footer { background-color:#DCEEC6;padding-bottom:40px;}
h1.footer-link-list-title {color:#333;margin-left:10px;}
ul.footer-link-list {list-style: none outside;margin-left:0;}
li.footer-link-item {list-style: inherit;margin-left:inherit;line-height:1.2em;margin-bottom:4px;}