div.spotlicht {  
    width:612px;
    height:270px;
    margin-right:20px;
    position:relative;
    border:1px solid #B2B2B2;
    overflow:hidden;
    background-color: #FFF;
}
div.spotlicht > h2 { font: 2em/1em Georgia,"Times New Roman",serif;}
div.spotlicht > ul.menu
{
    margin:0;
    padding:0;
    position: absolute;
    top:220px;
    list-style: none;
    background-color: #FFF;
    z-index: 3;
}
div.spotlicht > ul.menu li {
    width:153px;
    height:30px;
    float:left;
    text-align: center;
    background-color: #FFF; 
}
div.spotlicht > ul.menu li a {
    paddiing:1.3em;
    color:#E41C29;
    text-decoration: none;
}
div.spotlicht > div.actief { 
    position:absolute;
    left:74px;
    top:250px;
    width:40px;
    height:40px;
    z-index:2;
    animation-duration:20s;
    animation-name:rot_actief;
    animation-iteration-count:infinite;
    -webkit-animation-name:rot_actief;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-duration:20s;    
}
div.spotlicht > div.speerpunt {
    position:absolute;
    width:612px;
    height:320px;
    display:block;
}
div.spotlicht > div.speerpunt > div.afbeelding,
div.spotlicht > div.speerpunt > div.content
{
    display:block;
    position:absolute;
    animation-name:rot_speerpunt;
    animation-iteration-count:infinite;
    animation-duration:20s;
    -webkit-animation-name:rot_speerpunt;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-duration:20s;
}

div.spotlicht > div.speerpunt > div.afbeelding { left:0;top:0px;width:612px; height:215px;background-color:#FFF;text-align: center;vertical-align: middle;line-height: 215px;}
div.spotlicht > div.speerpunt > div.afbeelding > img {vertical-align:middle;width:612px; height:215px;display:block;}
div.spotlicht > div.speerpunt > div.content { left:10px;top:10px;z-index:1;}
div.spotlicht > div.speerpunt > div.content span {font:2em/1em Georgia,"Times New Roman",serif;background-color:#FFF;padding:3px;line-height:1.5em;}

div.spotlicht > div.speerpunt[no="1"] {
    left:0px;
    top:0px;
}
div.spotlicht > div.speerpunt[no="2"] {
    left:615px;
    top:0px;
}
div.spotlicht > div.speerpunt[no="3"] {
    left:1230px;
    top:0px;    
}
div.spotlicht > div.speerpunt[no="4"] {
    left:1845px;
    top:0px;    
}



@keyframes rot_speerpunt {
    from { transform:translate(0px,0px);}
    10% { transform:translate(0px,0px);}
    25% { transform:translate(-615px,0px);}
    35% { transform:translate(-615px,0px)}
    50% { transform:translate(-1230px,0px)}
    60% { transform:translate(-1230px,0px)}
    75% { transform:translate(-1845px,0px)}
    90% { transform:translate(-1845px,0px)}
    to { transform:translate(0px,0px)}
    
}

@-webkit-keyframes rot_speerpunt {
    from { -webkit-transform:translate(0px,0px);}
    10% { -webkit-transform:translate(0px,0px);}
    25% { -webkit-transform:translate(-615px,0px);}
    35% { -webkit-transform:translate(-615px,0px)}
    50% { -webkit-transform:translate(-1230px,0px)}
    60% { -webkit-transform:translate(-1230px,0px)}
    75% { -webkit-transform:translate(-1845px,0px)}
    90% { -webkit-transform:translate(-1845px,0px)}
    to { -webkit-transform:translate(0px,0px)}
}

@keyframes rot_actief {
     0% {left:74px}
    10% {left:74px}
    25% {left:227px}
    35% {left:227px}
    50% {left:380px}
    60% {left:380px}
    75% {left:533px;}
    90% {left:533px;}
    100% {left:74px;}
}

@-webkit-keyframes rot_actief {
    0% {left:74px}
    10% {left:74px}
    25% {left:227px}
    35% {left:227px}
    50% {left:380px}
    60% {left:380px}
    75% {left:533px;}
    90% {left:533px;}
    100% {left:74px;}
}