/*INTRODUCTIE*/

#introductie { margin: 10px;background-color:#EEEEEE;padding:2.3em 2em; }
#introductie:after {clear:both;content:"\0000a0";height:0;display:block;}
/*SPOTLICHT*/

div.spotlicht,div.promotie
{
    float:left;
    margin-top:10px;   
}

div.spotlicht {  
    width:612px;
    height:270px;
    margin-right:20px;
    position:relative;
    border:1px solid #B2B2B2;
    overflow:hidden;
    background-color: #FFF;
}
ul.speerpunt-menu
{
    margin:0;
    padding:0;
    position: absolute;
    top:220px;
    list-style: none;
    background-color: #FFF;
    z-index: 3;
}
li.speerpunt-menu-item {
    width:153px;
    height:30px;
    margin:0;
    padding:0;
    float:left;
    text-align: center;
    background-color: #FFF; 
    list-style: inherit;
}
a.speerpunt-menu-item-link {
    paddiing:1.3em;
    color:#E41C29;
    text-decoration: none;
}
div.spotlicht-actief { 
    position:absolute;
    left:74px;
    top:250px;
    width:40px;
    height:40px;
    z-index:2;
    animation-duration:20s;
    animation-name:rot_actief;
    animation-iteration-count:infinite;
    -webkit-animation-name:rot_actief;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-duration:20s;    
}
div.speerpunt {
    position:absolute;
    width:612px;
    height:320px;
    display:block;
}
div.speerpunt-afbeelding,
div.speerpunt-content
{
    display:block;
    position:absolute;
}

div.speerpunt-afbeelding { 
    left:0;
    top:0px;
    width:612px; 
    height:215px;
    background-color:#FFF;
    text-align: center;
    vertical-align: middle;
    line-height: 215px;
}
div.speerpunt-afbeelding > img {
    vertical-align:middle;
    width:612px; 
    height:215px;
    display:block;
}
div.speerpunt-content { 
    left:10px;
    top:10px;
    z-index:1;
}
div.speerpunt-content span {
    font:2em;
    background-color:#FFF;
    padding:3px;
    line-height:1.5em;
}

div.speerpunt[no="1"] {
    left:0px;
    top:0px;
}
div.speerpunt[no="2"] {
    left:615px;
    top:0px;
}
div.speerpunt[no="3"] {
    left:1230px;
    top:0px;    
}
 div.speerpunt[no="4"] {
    left:1845px;
    top:0px;    
}

div.speerpunt-afbeelding,
div.speerpunt-content
{
    animation-name:rot_speerpunt;
    animation-iteration-count:infinite;
    animation-duration:20s;
    -webkit-animation-name:rot_speerpunt;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-duration:20s;
}
    

@keyframes rot_speerpunt {
    from { transform:translate(0px,0px);}
    10% { transform:translate(0px,0px);}
    25% { transform:translate(-615px,0px);}
    35% { transform:translate(-615px,0px)}
    50% { transform:translate(-1230px,0px)}
    60% { transform:translate(-1230px,0px)}
    75% { transform:translate(-1845px,0px)}
    90% { transform:translate(-1845px,0px)}
    to { transform:translate(0px,0px)}

}

@-webkit-keyframes rot_speerpunt {
    from { -webkit-transform:translate(0px,0px);}
    10% { -webkit-transform:translate(0px,0px);}
    25% { -webkit-transform:translate(-615px,0px);}
    35% { -webkit-transform:translate(-615px,0px)}
    50% { -webkit-transform:translate(-1230px,0px)}
    60% { -webkit-transform:translate(-1230px,0px)}
    75% { -webkit-transform:translate(-1845px,0px)}
    90% { -webkit-transform:translate(-1845px,0px)}
    to { -webkit-transform:translate(0px,0px)}
}

@keyframes rot_actief {
     0% {left:74px}
    10% {left:74px}
    25% {left:227px}
    35% {left:227px}
    50% {left:380px}
    60% {left:380px}
    75% {left:533px;}
    90% {left:533px;}
    100% {left:74px;}
}

@-webkit-keyframes rot_actief {
    0% {left:74px}
    10% {left:74px}
    25% {left:227px}
    35% {left:227px}
    50% {left:380px}
    60% {left:380px}
    75% {left:533px;}
    90% {left:533px;}
    100% {left:74px;}
}

@media only screen and (max-width:960px)
{
    div.spotlicht {
        width:470px;
        height:228px;
        margin:0;
    }
    
    ul.speerpunt-menu {top:176px;height:22px;}
    ul.speerpunt-menu li {width:117px;}
    
    div.spotlicht-actief { top:208px;}
    
    div.speerpunt {
        position:absolute;
        width:470px;
        height:165px;
        display:block;
    }

    div.speerpunt-afbeelding { 
        left:0;
        top:0;
        width:470px; 
        height:165px;
        background-color:#FFF;
        text-align: center;
        vertical-align: middle;l
        ine-height: 165px;
    }
    div.speerpunt-afbeelding > img {vertical-align:middle;width:470px; height:165px;display:block;}
    
    
    div.speerpunt-content > span { font-size:1em }
    
    div.speerpunt[no="1"] {
        left:0px;
        top:0px;
    }
    div.speerpunt[no="2"] {
        left:470px;
        top:0px;
    }
    div.speerpunt[no="3"] {
        left:940px;
        top:0px;    
    }
    div.speerpunt[no="4"] {
        left:1410px;
        top:0px;    
    }
    
    div.spotlicht-actief { 
        animation-duration:20s;
        animation-name:rot_actief_phone_landscape;
        animation-iteration-count:infinite;
        -webkit-animation-name:rot_actief_phone_landscape;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-duration:20s;    
    }
    

    div.speerpunt-afbeelding,
    div.speerpunt-content
    {
        animation-name:rot_speerpunt_phone_landscape;
        animation-iteration-count:infinite;
        animation-duration:20s;
        -webkit-animation-name:rot_speerpunt_phone_landscape;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-duration:20s;
    }
        
    
    @keyframes rot_speerpunt_phone_landscape {
        from { transform:translate(0px,0px);}
        10% { transform:translate(0px,0px);}
        25% { transform:translate(-470px,0px);}
        35% { transform:translate(-470px,0px)}
        50% { transform:translate(-940px,0px)}
        60% { transform:translate(-940px,0px)}
        75% { transform:translate(-1410px,0px)}
        90% { transform:translate(-1410px,0px)}
        to { transform:translate(0px,0px)}
    }

    @-webkit-keyframes rot_speerpunt_phone_landscape {
        from { -webkit-transform:translate(0px,0px);}
        10% { -webkit-transform:translate(0px,0px);}
        25% { -webkit-transform:translate(-470px,0px);}
        35% { -webkit-transform:translate(-470px,0px)}
        50% { -webkit-transform:translate(-940px,0px)}
        60% { -webkit-transform:translate(-940px,0px)}
        75% { -webkit-transform:translate(-1410px,0px)}
        90% { -webkit-transform:translate(-1410px,0px)}
        to { -webkit-transform:translate(0px,0px)}
    }

    @keyframes rot_actief_phone_landscape {
         0% {left:39px}
        10% {left:39px}
        25% {left:156px}
        35% {left:156px}
        50% {left:273px}
        60% {left:273px}
        75% {left:390px;}
        90% {left:390px;}
        100% {left:39px;}
    }
    @-webkit-keyframes rot_actief_phone_landscape {
         0% {left:39px}
        10% {left:39px}
        25% {left:156px}
        35% {left:156px}
        50% {left:273px}
        60% {left:273px}
        75% {left:390px;}
        90% {left:390px;}
        100% {left:39px;}
    }
   
}

@media only screen and (max-width:320px)
{
    #introductie {padding:10px;width:263px;}
    div.spotlicht {
        width:260px;
        height:130px;
        margin:0;
    }
    
    ul.speerpunt-menu {display:none;}
    
    ul.speerpunt-menu {top:95px;height:22px;}
    li.speerpunt-menu-item {width:65px;height:22px;font-size:0.8em;}
    
    div.spotlicht-actief { top:117px;}
    
    div.speerpunt {
        position:absolute;
        width:260px;
        height:130px;
        display:block;
    }

    div.speerpunt-afbeelding { left:0;top:0px;width:260px; height:91px;background-color:#FFF;text-align: center;vertical-align: middle;line-height: 91px;}
    div.speerpunt-afbeelding > img {vertical-align:middle;width:260px; height:91px;display:block;}
    
    
    div.speerpunt-content > span { font-size:0.95em; }
    
    div.speerpunt[no="1"] {
        left:0px;
        top:0px;
    }
    div.speerpunt[no="2"] {
        left:260px;
        top:0px;
    }
    div.speerpunt[no="3"] {
        left:520px;
        top:0px;    
    }
    div.speerpunt[no="4"] {
        left:780px;
        top:0px;    
    }
    
    div.spotlicht-actief { 
        animation-duration:20s;
        animation-name:rot_actief_phone;
        animation-iteration-count:infinite;
        -webkit-animation-name:rot_actief_phone;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-duration:20s;    
    }
    

    div.speerpunt-afbeelding,
    div.speerpunt-content
    {
        animation-name:rot_speerpunt_phone;
        animation-iteration-count:infinite;
        animation-duration:20s;
        -webkit-animation-name:rot_speerpunt_phone;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-duration:20s;
    }
        
    
    @keyframes rot_speerpunt_phone {
        from { transform:translate(0px,0px);}
        10% { transform:translate(0px,0px);}
        25% { transform:translate(-260px,0px);}
        35% { transform:translate(-260px,0px)}
        50% { transform:translate(-520px,0px)}
        60% { transform:translate(-520px,0px)}
        75% { transform:translate(-780px,0px)}
        90% { transform:translate(-780px,0px)}
        to { transform:translate(0px,0px)}
    }

    @-webkit-keyframes rot_speerpunt_phone {
        from { -webkit-transform:translate(0px,0px);}
        10% { -webkit-transform:translate(0px,0px);}
        25% { -webkit-transform:translate(-260px,0px);}
        35% { -webkit-transform:translate(-260px,0px)}
        50% { -webkit-transform:translate(-520px,0px)}
        60% { -webkit-transform:translate(-520px,0px)}
        75% { -webkit-transform:translate(-780px,0px)}
        90% { -webkit-transform:translate(-780px,0px)}
        to { -webkit-transform:translate(0px,0px)}
    }

    @keyframes rot_actief_phone {
         0% {left:22px}
        10% {left:22px}
        25% {left:87px}
        35% {left:87px}
        50% {left:153px}
        60% {left:153px}
        75% {left:218px;}
        90% {left:218px;}
        100% {left:22px;}
    }
    @-webkit-keyframes rot_actief_phone {
         0% {left:22px}
        10% {left:22px}
        25% {left:87px}
        35% {left:87px}
        50% {left:153px}
        60% {left:153px}
        75% {left:218px;}
        90% {left:218px;}
        100% {left:22px;}
    }
   
}