
{%set active = app.request.baseUrl ~ app.request.pathInfo %}

<ul>
    {%set url=path('home') %}
    <li><a class="{%if active== url %}menurood{%else%}menugroen{%endif%}" href="{{url}}">Home</a> | </li>
    {%for entity in themas()%}
        {%set url=path('thema',{slug:entity.slug}) %}
        <li><a class="{%if thema is defined and entity.slug==thema.slug %}menurood{%else%}menugroen{%endif%}" href="{{url}}">{{entity.titel}}</a> | </li>
    {%endfor%}
    {%set url=path('persoon_index') %}
    <li><a class="{%if active== url or app.request.get('_route')=='persoon' %}menurood{%else%}menugroen{%endif%}" href="{{url}}">Personen</a> </li>
</ul>