{%macro menu_item(url,titel,actief) %}
    <li class="menu-item{%if actief %} actief{%endif%}"><a class="menu-item-link" href="{{url}}">{{titel}}</a> </li>
{%endmacro%}

{% import _self as menu %}

<ul class="menu">
    {%for menuItem in site.menu.items%}
        {{menu.menu_item(menuItem.url,menuItem.titel,menuItem.actief)}}
    {%endfor%}
</ul>

