{%set current = app.request.baseUrl ~ app.request.pathInfo %}
<select>
    {%for menuItem in site.menu.items%}
        <option {%if menuItem.actief %}selected="selected"{%endif%} value="{{menuItem.url}}">{{menuItem.titel}}</option>
    {%endfor%}
</select>
<script>
    require(['jquery'],function(){
        $('#mobile_nav select').change(function(){
            window.location=$(this).val();
        });
    });
</script>