{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Home{%endblock%}

{%block introductie%}
    {%if speerpunten is defined and speerpunten|length>0 %}
        {{glzeist.introductie(speerpunten,hoofdstukken)}}
    {%endif%}
{%endblock%}

{%block rightcolumn%}
    {{glzeist.twitter_widget}}
{%endblock%}

{%block content%}
    <section id="items">
        {%for item in items%}
            {%include 'GLZeistProgrammaBundle:App/Default:includes/item-list-entry.html.twig' %}
        {%endfor%}
    </section>
    <h1 class="header">Nieuws</h1>
    <section id="nieuws">
        <div class="laden">&nbsp;</div>
    </section>
    <div id="nieuws-laden" class="laden" style="display:none;"> &nbsp;</div>
    <button id="meer-nieuws" style="display:none;">Meer nieuws</button>
    <div>&nbsp;</div>
    <script>
        require(['jquery'],function(){
            var offset=0;
            $('#nieuws').load("{{path('rss',{limit:4})}}", function() {
                $('#meer-nieuws').toggle();
            });
            $('#meer-nieuws').click(function(e){
                $('#meer-nieuws').toggle();
                $('#nieuws-laden').toggle();
                offset+=4;
                var url="{{path('rss')}}?limit=4&offset="+offset;
                $.get(url,function(data){
                    $('#nieuws-laden').toggle();
                    $('#nieuws').append(data);
                    $('#meer-nieuws').toggle();
                });
            });
        });
    </script>
{%endblock%}


