{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Zoekresultaten{%endblock%}
{%block content%}
    {%if results|length == 0 %}
        <div>Er zijn geen resultaten gevonden</div>
    {%else%}
        <section>
            {%for key, result in results%}
                {%if result['item'] is defined and result['item'] is not empty %}
                    {%set item=result['item'] %}
                    {%include 'GLZeistProgrammaBundle:App/PublishedItem:item-list-entry.html.twig'%}
                {%endif%}
                {%if result['thema'] is defined and result['thema'] is not empty %}
                    {%set thema=result['thema'] %}
                    {%include 'GLZeistProgrammaBundle:App/Default:includes/thema-list-entry.html.twig'%}
                {%endif%}
                {%if result['kandidaat'] is defined and result['kandidaat'] is not empty %}
                    {%set kandidaat=result['kandidaat'] %}
                    {%include 'GLZeistProgrammaBundle:App/Default:includes/kandidaat-list-entry.html.twig'%}
                {%endif%}
                {%if result['hoofdstuk'] is defined and result['hoofdstuk'] is not empty %}
                    {%set hoofdstuk=result['hoofdstuk'] %}
                    {%include 'GLZeistProgrammaBundle:App/Default:includes/hoofdstuk-list-entry.html.twig'%}
                {%endif%}
                {%if result['wijk'] is defined and result['wijk'] is not empty %}
                    {%set wijk=result['wijk'] %}
                    {%include 'GLZeistProgrammaBundle:App/Default:includes/wijk-list-entry.html.twig'%}
                {%endif%}
                {%if result['wijkparel'] is defined and result['wijkparel'] is not empty %}
                    {%set wijkparel=result['wijkparel'] %}
                    {%include 'GLZeistProgrammaBundle:App/Default:includes/wijkparel-list-entry.html.twig'%}
                {%endif%}

            {%endfor%}
        </section>
    {%endif%}
{%endblock%}
