{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}{{thema.titel}}{%endblock%}
{%block seo%}
    <meta name="description" content="{{thema.metaDescription}}">
{%endblock%}

{%block content%}

<div class="thema-header">
    <p>{{thema.tekst|raw}}</p>
</div>

{%if items|length>0 %}
    <h1>Verwante onderwerpen</h1>
    <div class="thema">
        {%for item in items%}
            {%include 'GLZeistProgrammaBundle:App/Default:includes/item-list-entry.html.twig' %}
        {%endfor%}
    </div>
{%endif%}



{%endblock%}

{%block rightcontent%}

{%endblock%}