{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block content%}

<div class="thema-header">
    <p>{{thema.tekst|raw}}</p>
</div>

<h1>Verwante onderwerpen</h1>
<div class="thema">
    {%for item in items%}
        {%include 'GLZeistProgrammaBundle:App/Default:includes/item-list-entry.html.twig' %}
    {%endfor%}
</div>



{%endblock%}

{%block rightcontent%}

{%endblock%}