{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Trefwoord - {{trefwoord.trefwoord}}{%endblock%}
{%block content%}

<section id="items" class="col">
    <h1 class="header">{{site.titel}}</h1>
    {%for key, result in results%}
        {%if result['item'] is defined and result['item'] is not empty %}
            {%set item=result['item'] %}
            {%include 'GLZeistProgrammaBundle:App/PublishedItem:item-list-entry.html.twig'%}
        {%endif%}
        {%if result['wijk'] is defined and result['wijk'] is not empty %}
            {%set wijk=result['wijk'] %}
            {%include 'GLZeistProgrammaBundle:App/Default:includes/wijk-list-entry.html.twig'%}
        {%endif%}
        {%if result['wijkparel'] is defined and result['wijkparel'] is not empty %}
            {%set wijkparel=result['wijkparel'] %}
            {%include 'GLZeistProgrammaBundle:App/Default:includes/wijkparel-list-entry.html.twig'%}
        {%endif%}
    {%endfor%}
</section>
{%endblock%}
