{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Trefwoord - {{trefwoord.trefwoord}}{%endblock%}
{%block content%}
<div class="trefwoord">
    {%for item in items%}
        {%include 'GLZeistProgrammaBundle:App/Default:includes/item-list-entry.html.twig' %}
    {%endfor%}
</div>


{%endblock%}

{%block rightcontent%}

{%endblock%}