<article class="list-item">
    <h2 class="naam">
        <a title="{{kandidaat.naam}}" href="{{path('kandidaat',{slug:kandidaat.slug})}}">{{kandidaat.naam}}</a>
    </h2>
    {%if kandidaat.thumbfile %}
        <div class="thumb">
            <img src="{{path('file',{filename:kandidaat.thumbfile})}}" />
        </div>
    {%endif%}
</article>