<div class="thema-list-entry list-entry clearfix">
    <h2 class="titel">
        <a title="{{thema.titel}}" href="{{path('thema',{slug:thema.slug})}}">{{thema.titel}}</a>
    </h2>
    <div class="tekst">
        {{thema.tekst|raw}}
    </div>
</div>