<div class="thema-list-entry clearfix">
    <h3 class="titel">
        {{thema.titel}}
    </h3>
    <div class="lees-meer">
        <a title="{{thema.titel}}" href="{{path('thema',{slug:thema.slug})}}">lees meer</a>
    </div>
</div>