<article class="list-item">
    <h2 class="titel">
        <a title="{{wijkparel.titel}}" href="{{path('wijk_detail',{slug:wijkparel.wijk.slug})~'#'~wijkparel.slug}}">{{wijkparel.titel}}</a>
    </h2>
    <div class="tekst">
        {{wijkparel.tekst|raw}}
    </div>
</article>