<article class="list-item">
    <h2 class="titel">
        <a title="{{wijk.wijk}}" href="{{path('wijk_detail',{slug:wijk.slug})}}">{{wijk.wijk}}</a>
    </h2>
    <div class="tekst">
        {{wijk.samenvatting|raw}}
    </div>
</article>