{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block content%}
    {%for result in results%}
        {%set item=result[0] %}
        {%set relevance=result.relevance %}
        <div class="search-result">
            {%for result in results %}
                {%include 'GLZeistProgrammaBundle:App/Item:includes/item-list-entry.html.twig' with {item:result[0]}%}
            {%endfor%}
        </div>
{%endfor%}
{%if moreitems %}
    {{ glzeist.meer_items('search',{search:search},results|length,limit) }}
{%endif%}
{%endblock%}
