{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}{{thema.titel}}{%endblock%}
{%block seo%}
    <meta name="description" content="{{thema.metaDescription}}">
{%endblock%}

{%block content%}
<div id="thema-header">
    {{thema.tekst|raw}}
</div>
<section id="items">
    <h1>Verwante onderwerpen</h1>
</section>

{%endblock%}

{%block rightcontent%}

{%endblock%}

{%block script%}
<script>
    require(['jquery'],function(){
        var url="{{path('item_list_thema',{slug:thema.slug,limit:10})}}";
        $.get(url,function(data){
            $('#items').removeClass('laden');
            $('#items').append(data);
        });
    });
</script>
{%endblock%}