{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}{{thema.titel}}{%endblock%}
{%block seo%}
    <meta name="description" content="{{thema.metaDescription}}">
{%endblock%}

{%block content%}
<div id="thema-header">
    {{thema.tekst|raw}}
</div>
{%if items|length>0 %}
    <h1>Verwante onderwerpen</h1>
    <section>
        {%for item in items%}
            {%include 'GLZeistProgrammaBundle:App/Default:includes/item-list-entry.html.twig' %}
        {%endfor%}
    </section>
{%endif%}

{%endblock%}

{%block rightcontent%}

{%endblock%}