{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Hoofdstukken{%endblock%}
{%block seo%}
    <meta name="description" content="Hoofdstukken van het verkiezingsprogramma van Groenlinks Afdeling Zeist">
{%endblock%}

{%block content%}
<section>
    {%for hoofdstuk in hoofdstukken%}
        <article class="list-item">
            <h2 class="titel">
                <a title="{{hoofdstuk.titel}}" href="{{path('hoofdstuk',{slug:hoofdstuk.slug})}}">{{hoofdstuk.titel}}</a>
            </h2>
        </article>
    {%endfor%}
</section>

{%endblock%}

{%block rightcontent%}

{%endblock%}