{% extends "GLZeistProgrammaBundle::admin.html.twig" %} {%block content%}<h1>Media creation</h1>

<form action="{{ path('media_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Nieuw</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('media') }}">
            Terug naar het overzicht
        </a>
    </li>
</ul>
{%endblock%}