{% extends "GLZeistProgrammaBundle::base.html.twig" %} 
{%block title%}Personen{%endblock%}
{%block content%}
    <section>
        <h1 class="header">Kandidatenlijst</h1>
        {%for kandidaat in kandidaten%}
            {%include 'GLZeistProgrammaBundle:App/Default:includes/kandidaat-list-entry.html.twig'%}
        {%endfor%}
    </section>
{%endblock%}

