
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-at:before { content: '\40'; } /* '@' */
.icon-left-bold:before { content: '\21d0'; } /* '⇐' */
.icon-up-bold:before { content: '\21d1'; } /* '⇑' */
.icon-right-bold:before { content: '\21d2'; } /* '⇒' */
.icon-down-bold:before { content: '\21d3'; } /* '⇓' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-pencil:before { content: '\270f'; } /* '✏' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\274c'; } /* '❌' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-last:before { content: '\f010'; } /* '' */
.icon-first:before { content: '\f011'; } /* '' */
.icon-next:before { content: '\f012'; } /* '' */
.icon-prev:before { content: '\f013'; } /* '' */
.icon-star-half:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-ccw:before { content: '\f025'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-doc:before { content: '\f04a'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-folder-empty:before { content: '\f069'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-cancel-circled:before { content: '\f06e'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */